.main-animation {
  padding-top: 50px;
  padding-left: 50px;
}
/* -----анимированная кнопка----- */
.btn-animation {
  position: relative;

  display: inline-flex;
  align-items: center;
  min-width: 130px;

  /* border: none; */
  border-radius: 6px;
  padding: 10px 18px;

  font-size: 15px;
  font-weight: 500;
  line-height: 1.2;
  text-align: center;
  text-decoration: none;

  color: var(--white-text-color);
  background-color: var(--accent-bg-color);

  border-color: transparent;
  box-shadow: 0px 4px 4px 0px var(--shadow-12);

  cursor: pointer;
  overflow: hidden;
}
.btn-animation:hover,
.btn-animation:focus {
  background-color: var(--hover-btn);
}
.btn-animation::before,
.btn-animation::after {
  content: '';
  display: inline-block;
  width: 20px;
  height: 20px;

  margin-right: 12px;

  background-size: contain;

  transition: transform var(--transit);
}
.btn-animation::before {
  /* background-color: red; */
  background-image: url('../imag/svg/facebook.svg');
}
.btn-animation:hover::before,
.btn-animation:focus::before {
  transform: translateY(-35px);
}
.btn-animation::after {
  position: absolute;
  top: 50%;
  left: 18px;

  /* background-color: green; */
  background-image: url('../imag/svg/twitter.svg');
  transform: translateY(calc(-50% + 35px));
}
.btn-animation:hover::after,
.btn-animation:focus::after {
  transform: translateY(-50%);
}
