/*__________ variable colors __________*/
:root {
  /* Fonts */
  --primary-fonts: Montserrat, sans-serif;
  --secondary-fonts: Comfortaa, cursive;
  /* Text color */
  --white-text-color: #ffffff;
  --black-text-color: #000000;
  --primary-text-color: rgba(0, 0, 0, 0.8);
  --accent-text-color: #18a0fb;
  /* BG color */
  --white-bg-color: #ffffff;
  --second-light-bg-cl: #f5f5f5;
  --complementary-bg-cl: #e5e5e5;
  --accent-bg-color: #18a0fb;
  --hover-btn: #1485d0;
  --black-bg-color: #000000;
  --logo-grey-color: #cccccc;
  --logo-black-color: #000000;
  /* Shadow */
  --shadow-01: rgba(0, 0, 0, 0.01);
  --shadow-02: rgba(0, 0, 0, 0.2);
  --shadow-04: rgba(0, 0, 0, 0.4);
  --shadow-05: rgba(0, 0, 0, 0.05);
  --shadow-50: rgba(0, 0, 0, 0.5);
  --shadow-1: rgba(0, 0, 0, 0.1);
  --shadow-12: rgba(0, 0, 0, 0.12);
  --shadow-14: rgba(0, 0, 0, 0.14);
  /* -------------- */
  --shadow-8: rgba(0, 0, 0, 0.08);
  --shadow-08: rgba(46, 47, 66, 0.08);
  --shadow-10: rgba(255, 255, 255, 0.1);
  --shadow-15: rgba(0, 0, 0, 0.15);
  --shadow-16: rgba(46, 47, 66, 0.16);
  --shadow-70: rgba(46, 47, 66, 0.7);
  /* Others */

  /* Transition time */
  --transit: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  /* Animation time */
}
/*__________ Reset style __________*/

/* Нормализация (box-sizing: border-box;) 
После подключения modern-normalize в теге head, этот кастыль нам не нужен!

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
} */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/*__________ Basic style __________*/
body {
  /* padding-top Репета.
  - padding-top - это сдвигаем body вниз на высоту header(чтоб header не залазил на боди) Репета.
   */

  padding-top: 60px;

  font-family: var(--primary-fonts);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: -0.27px;
  color: var(--primary-text-color);
  background-color: var(--white-bg-color);
}
/*__________ common styles__________ */
/* Section */
.section {
  max-width: 1680px;
  margin-left: auto;
  margin-right: auto;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  padding-top: 120px;
  padding-bottom: 120px;
}
.section.no-padding {
  padding-top: 0px;
  padding-bottom: 0px;
}
/* .section.color {
  background-color: var(--second-light-bg-cl);
} */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1560px;
  padding-right: 20px;
  padding-left: 20px;

  /* outline: 1px solid red; */
}
/* Text style */
.section-title {
  font-size: 48px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.72px;
  color: var(--black-text-color);
}
.title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.36px;
}
.text {
  font-size: 36px;
  font-weight: 400;
  line-height: 1.39;
  letter-spacing: -0.54px;
}
.txt {
  font-size: 15px;
  letter-spacing: -0.225px;
}
/* Button */
.button {
  display: inline-block;
  min-width: 130px;
  border-radius: 6px;
  padding: 11px 34px;
  border: 1px solid transparent;

  font-size: 15px;
  font-weight: 500;
  line-height: 1.2; /* normal */
  text-align: center;
  text-decoration: none;

  color: var(--black-text-color);
  background-color: var(--white-bg-color);
  box-shadow: 0px 4px 4px 0px var(--shadow-12);

  cursor: pointer;
}
.btn {
  font-size: 17px;
  padding: 15px 50px;
}
.button.primary {
  color: var(--white-text-color);
  background-color: var(--accent-bg-color);

  transition: background-color var(--transit), box-shadow var(--transit);
}
.button.primary:hover,
.button.primary:focus {
  background-color: var(--hover-btn);
  box-shadow: 0px 4px 4px 0px var(--shadow-04);
}
.button.secondary {
  color: var(--accent-text-color);
  background-color: var(--white-bg-color);
  border-color: var(--accent-bg-color);

  transition: color var(--transit), background-color var(--transit),
    box-shadow var(--transit);
}
.button.secondary:hover,
.button.secondary:focus {
  color: var(--hover-btn);
  border-color: var(--hover-btn);
  box-shadow: 0px 4px 4px 0px var(--shadow-04);
}
