/*__________ variable colors __________*/
:root {
  --primary-text-color: rgba(0, 0, 0, 0.8);
  --title-text-color: #000000;
  --accent-color: #18a0fb;
  --primary-white-color: #ffffff;
  --secondary-light-color: #f5f5f5;
  --complementary-color: #e5e5e5;
}
/*__________ Reset style __________*/

/* Нормализация (box-sizing: border-box;) 
После подключения modern-normalize в теге head, этот кастыль нам не нужен!

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
} */
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/*__________ Basic style __________*/
body {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: -0.27px;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}
/*__________ common styles__________ */
/* Section */
.section {
  padding-top: 120px;
  padding-bottom: 120px;
}
.section.no-padding {
  padding-top: 0px;
  padding-bottom: 0px;
}
/* .section.color {
  background-color: var(--secondary-light-color);
} */
.container {
  margin-left: auto;
  margin-right: auto;
  width: 1560px;
  padding-right: 20px;
  padding-left: 20px;

  outline: 1px solid red;
}
/* Text style */
.section-title {
  font-size: 48px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.72px;
  color: var(--title-text-color);
}
.title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.36px;
}
.text {
  font-size: 36px;
  font-weight: 400;
  line-height: 1.39;
  letter-spacing: -0.54px;
}
.txt {
  font-size: 15px;
  letter-spacing: -0.225px;
}
/* Button */
.button {
  display: inline-block;
  min-width: 130px;
  border-radius: 6px;
  padding: 11px 34px;
  border: 1px solid transparent;

  font-size: 15px;
  font-weight: 500;
  line-height: 1.2; /* normal */
  text-align: center;
  text-decoration: none;

  color: var(--title-text-color);
  background-color: var(--primary-white-color);
}
.btn {
  font-size: 17px;
  padding: 15px 50px;
}
.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.button.secondary {
  color: var(--accent-color);
  background-color: var(--primary-white-color);
  border-color: var(--accent-color);
}
