/*__________ variable colors __________*/
:root {
  --primary-text-color: rgba(0, 0, 0, 0.8);
  --title-text-color: #000000;
  --accent-color: #18a0fb;
  --primary-white-color: #ffffff;
  --secondary-light-color: #f5f5f5;
  --complementary-color: #e5e5e5;
}
/*__________ Reset style __________*/
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
.link {
  text-decoration: none;
}
/*__________ Basic style __________*/
body {
  font-family: Montserrat, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: -0.27px;
  color: var(--primary-text-color);
  background-color: var(--primary-white-color);
}
.section-title {
  font-size: 48px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.72px;
  color: var(--title-text-color);
}
.title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.36px;
}
.text {
  font-size: 36px;
  font-weight: 400;
  line-height: 1.39;
  letter-spacing: -0.54px;
}
.txt {
  font-size: 15px;
  letter-spacing: -0.225px;
}
/*_____ button _____*/
.button {
  text-align: center;
  font-weight: 500;
  line-height: 1.2; /* normal */
  color: var(--title-text-color);
  background-color: var(--primary-white-color);
}
.button.primary {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}
.button.secondary {
  color: var(--accent-color);
  background-color: var(--primary-white-color);
}
.btn {
  font-size: 17px;
  letter-spacing: -0.255px;
}
