/* Занятие-2-модуль-6 */
.form {
  padding: 20px;
  margin: 20px;
  width: 600px;
}
.form-field {
  position: relative;
  margin-bottom: 40px;
}
.form-label {
  position: absolute;
  top: 50%;
  left: 50px;
  transform: translateY(-50%);
  transition: transform var(--transit);
}
.form-input {
  width: 100%;
  margin: 0;
  padding: 10px 50px;

  font: inherit;

  color: var(--black-text-color);
  outline: none;
  border-radius: 3px;
  border: 1px solid var(--accent-bg-color);
}
/* .form-field:focus-within .form-label {
  color: var(--accent-text-color);
  transform: translateY(-55px);
} */
.form-field:focus-within > .icon-form,
.form-input:not(:placeholder-shown) ~ .icon-form {
  color: var(--accent-bg-color);
}
.form-field:focus-within > .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  color: var(--accent-text-color);
  transform: translateY(-55px);
}
.form-input:placeholder-shown {
  border-color: var(--shadow-04);
}
/* Обратите внимание на селектор .form-input::placeholder, он используется для оформления текста плейсхолдера. */
/* .form-input::placeholder {
  color: var(--accent-text-color);
} */
.icon-form {
  position: absolute;
  top: 50%;
  left: 15px;

  display: inline-block;

  fill: currentColor;

  transform: translateY(-50%);

  transition: background-color var(--transit), transform var(--transit);
}
/* .form-field:focus-within > .icon-form {
  transform: translateY(-55px);
} */
.form-input:not(:placeholder-shown) + .icon-form {
  /* color: var(--black-bg-color); */
  transform: translateY(-55px);
}
/* ---------- Btn - Кнопка отправки формы ---------- */
.form-btn {
  padding: 4px 8px;

  font-family: var(--primary-fonts);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.27px;

  color: var(--hover-btn);
  background-color: var(--white-bg-color);
  border: 1px solid var(--hover-btn);
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px var(--shadow-14);
  cursor: pointer;
}
.form-btn:hover,
.form-btn:focus {
  color: var(--white-text-color);
  background-color: var(--hover-btn);
  border-color: var(--hover-btn);
  box-shadow: 0px 4px 4px 0px var(--shadow-02);
}
