/* Занятие-2-модуль-6 */
.form {
  padding: 20px;
  margin: 20px;
}
.form-field {
  position: relative;
  margin-bottom: 40px;

  color: var(--shadow-70);
}
.form-label {
  position: absolute;
  top: 50%;
  left: 50px;

  color: var(--shadow-70);

  transform: translateY(-50%);
  transition: transform var(--transit);
}
.form-input {
  width: 100%;
  margin: 0;
  padding: 10px 20px;

  font: inherit;

  border-radius: 3px;
  /* border: 1px solid var(--accent-bg-color); */
  color: var(--black-text-color);
}
.form-input:focus + .form-label,
.form-input:not(:placeholder-shown) + .form-label {
  color: var(--black-text-color);
  transform: translateY(-55px);
}
.form-input:placeholder-shown {
  background-color: #e7e7e7;
  border-color: var(--black-text-color);
}
.icon-form {
  position: absolute;
  top: 48%;
  left: 20px;

  transform: translateY(-50%);

  display: inline-block;

  /* width: 20px; */
  /* height: 20px; */

  fill: currentColor;

  transition: background-color var(--transit), transform var(--transit);
}
.form-input:focus ~ .icon-form,
.form-input:not(:placeholder-shown) ~ .icon-form {
  color: var(--black-bg-color);
  transform: translateY(-50px);
}
/* ---------- Btn - Кнопка отправки формы ---------- */
.form-btn {
  padding: 4px 8px;

  font-family: var(--primary-fonts);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.27px;

  background-color: var(--shadow-15);
  border: 1px solid var(--shadow-04);
  border-radius: 5px;
  box-shadow: 0px 4px 4px 0px var(--shadow-14);
  cursor: pointer;
}
.form-btn:hover,
.form-btn:focus {
  background-color: var(--shadow-02);
  border-color: var(--black-bg-color);
  box-shadow: 0px 4px 4px 0px var(--shadow-02);
}
