/*__________ Header section __________*/
.logo {
  font-family: Comfortaa, cursive;
  font-size: 28px;
  line-height: 1.2; /* normal */
  letter-spacing: -0.427px;
  color: var(--title-text-color);
}
.logo:hover {
  --new-accent: rgb(0, 94, 255);
  color: var(--new-accent);
}
.site-nav .link {
  font-weight: 500;
  line-height: 1.2; /* normal */
  color: var(--accent-color);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--title-text-color);
}
.site-nav .link.current {
  color: var(--title-text-color);
}
/*__________ Hero section 1 __________*/
.hero-title {
  text-align: center;
  font-size: 56px;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: -0.84px;
  color: var(--title-text-color);
}
/*__________ Feature section 2 __________*/
.feature-list .title {
  color: var(--title-text-color);
}
.feature-list .link {
  color: var(--accent-color);
}
/*__________ Works section 3 __________*/
.work-list .title {
  color: var(--title-text-color);
}
/*__________ Testimonials section 4 __________*/
.testimonials .text,
.testimonials .section-title {
  text-align: center;
}
/*__________ Signup section 5 __________*/

/*__________ Footer section __________*/
.footer-nav .link {
  font-weight: 700;
  line-height: 1.6;
  color: var(--title-text-color);
}
.footer-text {
  text-align: center;
  line-height: 1.6;
}
