/* =============== Variable colors Переменные ===============*/
:root {
  /* Fonts */
  --primary-fonts: Montserrat, sans-serif;
  --secondary-fonts: Comfortaa, cursive;
  /* Text color */
  --white-text-color: #ffffff;
  --black-text-color: #000000;
  --primary-text-color: rgba(0, 0, 0, 0.8);
  --accent-text-color: #18a0fb;
  /* BG color */
  --white-bg-color: #ffffff;
  --second-light-bg-cl: #f5f5f5;
  --complementary-bg-cl: #e5e5e5;
  --accent-bg-color: #18a0fb;
  --hover-btn: #1485d0;
  --black-bg-color: #000000;
  --logo-grey-color: #cccccc;
  --logo-black-color: #000000;
  /* Shadow */
  --shadow-01: rgba(0, 0, 0, 0.01);
  --shadow-02: rgba(0, 0, 0, 0.2);
  --shadow-04: rgba(0, 0, 0, 0.4);
  --shadow-05: rgba(0, 0, 0, 0.05);
  --shadow-50: rgba(0, 0, 0, 0.5);
  --shadow-1: rgba(0, 0, 0, 0.1);
  --shadow-12: rgba(0, 0, 0, 0.12);
  --shadow-14: rgba(0, 0, 0, 0.14);
  /* -------------- */
  --shadow-8: rgba(0, 0, 0, 0.08);
  --shadow-08: rgba(46, 47, 66, 0.08);
  --shadow-80: rgba(0, 0, 0, 0.8);
  --shadow-10: rgba(255, 255, 255, 0.1);
  --shadow-15: rgba(0, 0, 0, 0.15);
  --shadow-16: rgba(46, 47, 66, 0.16);
  --shadow-70: rgba(46, 47, 66, 0.7);
  /* Others */

  /*__________ Transition time __________*/
  --transit: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/*__________ Animation time __________*/

/* =============== Reset style =============== */

/* Нормализация(box-sizing: border-box;) 
- Первый вариант: прописываются это правило в начале файла CSS, без подключания файлоа таблицы стилей Modern-normalize. 
- Второй вариант подключается Modern-normalize таблица стилей в шапке сайта в теге <head>, во втором варианте после подключения modern-normalize в теге head, этот кастыль нам не нужен!

html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
} */

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li {
  margin: 0;
  padding: 0;
  /* Убираем все паддинги и марджины у всех заголовков, параграфов, списков */
}
.list {
  list-style: none; /* Убираем стандартные стили у списка (точки) */
}
.link {
  text-decoration: none; /* Убираем подчеркивание у ссылок */
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  /* Примечание
- ставим картинке display: block; чтоб убрать нижний зазор.
- ставим картинке max-width: 100%; чтоб была 100% ширины картинки.
- ставим картинке height: auto; чтоб высота высчитывалась автоматически.
*/
}
/* =============== Basic style =============== */
html {
  scroll-behavior: smooth; /* плавный скролл Ярослав */
}
body {
  padding-top: 60px; /* padding-top(Репета).Этом сдвигаем body вниз на высоту header(чтоб header не залазил на боди). */

  font-family: var(--primary-fonts);
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: -0.27px;
  color: var(--primary-text-color);
  background-color: var(--white-bg-color);
}
button {
  /* cursor: pointer; меняет вид курсора при активном состоянии элемента (::hover, ::focus).
  Задаем этот параметр глобально всем кнопкам */
  cursor: pointer;
}
/* =============== Common styles =============== */

/*__________ Section __________*/

.section {
  /* Задаем размеры секции */
  max-width: 1680px;
  margin-left: auto;
  margin-right: auto;

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  padding-top: 120px;
  padding-bottom: 120px;
}
.section.no-padding {
  /* Секция без паддингов */
  padding-top: 0px;
  padding-bottom: 0px;
}
/* .section.color {
  background-color: var(--second-light-bg-cl);
} */
.container {
  /* Задаем размеры контейнера */
  margin-left: auto;
  margin-right: auto;
  width: 1560px;
  padding-right: 20px;
  padding-left: 20px;

  /* outline: 1px solid red; */ /* Нужен в начале разработки, чтоб видеть края элементов */
}
/*__________ Text style __________*/

.section-title {
  font-size: 48px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: -0.72px;
  color: var(--black-text-color);
}
.title {
  font-size: 24px;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: -0.36px;
}
.text {
  font-size: 36px;
  font-weight: 400;
  line-height: 1.39;
  letter-spacing: -0.54px;
}
.txt {
  font-size: 15px;
  letter-spacing: -0.225px;
}
/*__________ button __________*/

/* Кнопки не наследуют стили от боди, прописываем стили полностью для кнопок */

.button {
  display: inline-block;
  min-width: 130px;
  border-radius: 6px;
  padding: 11px 34px;
  border: 1px solid transparent;

  font-size: 15px;
  font-weight: 500;
  line-height: 1.2; /* normal */
  text-align: center;
  text-decoration: none;

  color: var(--black-text-color);
  background-color: var(--white-bg-color);
  box-shadow: 0px 4px 4px 0px var(--shadow-12);

  cursor: pointer; /* cursor: pointer; меняет вид курсора при активном состоянии элемента (::hover, ::focus) */
}
.btn {
  font-size: 17px;
  padding: 15px 50px;
}
.button.primary {
  color: var(--white-text-color);
  background-color: var(--accent-bg-color);

  transition: background-color var(--transit), box-shadow var(--transit);
}
.button.primary:hover,
.button.primary:focus {
  background-color: var(--hover-btn);
  box-shadow: 0px 4px 4px 0px var(--shadow-04);
}
.button.secondary {
  color: var(--accent-text-color);
  background-color: var(--white-bg-color);
  border-color: var(--accent-bg-color);

  transition: color var(--transit), background-color var(--transit),
    box-shadow var(--transit);
}
.button.secondary:hover,
.button.secondary:focus {
  color: var(--hover-btn);
  border-color: var(--hover-btn);
  box-shadow: 0px 4px 4px 0px var(--shadow-04);
}

/*__________ Visually hidden __________*/

/** Скрываем элементы, заголовки.
Вариант-1 (правильный)
|============================
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
|============================
Вариант-2 (Ярослав ментор)
|============================
.hidden-title {
  display: none;
}
|============================
Вариант-3 (Временный в начале)
|============================
Ставим hidden в тег
|============================
*/

.visually-hidden {
  /* visually-hidden для скрытия заголовков */
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* =============== Header section =============== */

/** Настройки для Header
Настройки для Header (Ярослав)
|============================
.header {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;

  z-index: 1;

  background-color: var(--white-bg-cl);

  border-bottom: 1px solid var(--cornflower-bg-cl);
  box-shadow: 0px 1px 6px 0px var(--shadow-08), 0px 1px 1px 0px var(--shadow-16),
    0px 2px 1px 0px var(--shadow-08);
}
.header.no-transparency {
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(2px);
-----
1) Для Header создаем .header {} и прописываем стили в CSS.
2) На body ставим padding-top: 76px; чтоб сдвинуть body вниз под Header.
|============================

Динамические настройки для Header с JS-скриптом (Репета)
|============================
.page-header {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  min-height: 500px;

  z-index: 1;

  background-color: var(--white-bg-cl);

  border-bottom: 1px solid var(--cornflower-bg-cl);
  box-shadow: 0px 1px 6px 0px var(--shadow-08), 0px 1px 1px 0px var(--shadow-16),
    0px 2px 1px 0px var(--shadow-08);
}
-----
1) Подключаем скрипт с динамическими настройками Header (page-header.js).
2) На Header ставим class="page-header".
3) В CSS в селекторе .page-header {прописываем стили}
|============================
*/

.page-header {
  position: fixed;
  top: 0;
  left: 0;

  z-index: 1;

  width: 100%;
  min-height: 60px;

  background-color: var(--white-bg-color);
  border-bottom: 1px solid var(--shadow-05);
  box-shadow: 0px 1px 6px 0px var(--shadow-08), 0px 1px 1px 0px var(--shadow-16),
    0px 2px 1px 0px var(--shadow-08);
}
.header-nav {
  display: flex;
  align-items: center;
}
.header .logo {
  margin-right: 70px;
}
.icon-logo {
  margin-right: 12px;
}
.logo {
  display: flex;
  align-items: center;
}
.logo-text {
  font-family: var(--secondary-fonts);
  font-size: 28px;
  line-height: 1.2; /* normal */
  letter-spacing: -0.427px;

  color: var(--black-text-color);

  transition: color var(--transit);
}
.logo-text:hover,
.logo-text:focus {
  --new-accent: #18a0fb;
  color: var(--new-accent);
}
.site-nav {
  display: flex;
}

/** Снимаем крайнюю геометрию
вариант №1
|============================
сначала всем даем марджин.
.site-nav .item {
  margin-right: 40px;
}
а потом у последнего убираем.
.site-nav .item:last-child {
  margin-right: 0;
}
|============================
вариант №2
|============================
даем марджин всем кроме последнего
.site-nav .item:not(:last-child) {
  margin-right: 40px;
}
|============================
вариант №3 (селектор соседа "+")
|============================
это (old shool) даем марджин всем item короме первого и последнего
.site-nav .item + .item {
  margin-right: 40px;
}
|============================
*/

.site-nav .item:not(:last-child) {
  margin-right: 40px;
}
.site-nav .link {
  position: relative;

  display: block;
  padding-top: 21px;
  padding-bottom: 21px;
  font-weight: 500;
  line-height: 1.2; /* normal */

  color: var(--accent-text-color);

  transition: color var(--transit);
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--black-text-color);
}
.site-nav .link.current {
  color: var(--black-text-color);
}
.site-nav .link.current::after {
  content: '';

  position: absolute;
  left: 0;
  bottom: -1px;

  display: block;
  width: 100%;
  height: 4px;

  border-radius: 2px;
  background-color: var(--accent-bg-color);

  transform: scaleX(1);
  transition: transform var(--transit);
}
.site-nav .link.current:hover::after {
  transform: scaleX(0.6);
}
.site-nav.my-nav {
  margin-left: 100px;
}
.auth-nav {
  display: flex;
  margin-left: auto;
}
.auth-nav .item + .item {
  margin-left: 12px;
}
/* =============== Hero section 1 =============== */

.hero.section {
  padding-top: 414px;
  padding-bottom: 156px;
}
.hero {
  text-align: center;
  background-color: var(--complementary-bg-cl);
  background-image: linear-gradient(var(--shadow-01), var(--shadow-01)),
    url(../imag/hero/rectangle-hero.jpg);
}
.play-btn {
  display: flex;
  align-items: center;

  margin-bottom: 86px;
  margin-left: auto;
  margin-right: auto;

  width: 132px;
  height: 132px;

  padding-left: 42px;
  padding-right: 30px;

  color: var(--white-bg-color);
  border-radius: 66px;
  background-color: var(--accent-bg-color);
  border-color: transparent;

  cursor: pointer; /* cursor: pointer; меняет вид курсора при активном состоянии элемента (::hover, ::focus) */
}
.play-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  fill: currentColor;
}
.hero-title {
  margin-bottom: 40px;
  font-size: 56px;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: -0.84px;
  color: var(--black-text-color);
}
/* =============== Feature section 2 =============== */

.feature .section-title {
  margin-bottom: 60px;
}
.feature-list {
  display: flex;
  flex-wrap: wrap;
}
.feature-list .item {
  width: calc((100% - 1 * 148px) / 2);
  margin-right: 148px;
  margin-bottom: 60px;
}
.feature-list .item:nth-child(2n) {
  margin-right: 0;
}
.feature-list .item:nth-last-child(-n + 2) {
  margin-bottom: 0;
}
/** Убираем крайнюю геометрию справа и снизу
____________________________________________

! УБИРАЕМ КРАЙНЮЮ ГЕОМЕТРИЮ СПРАВА !

1й вариант (%)
|============================
.feature-list .item {
  width: calc((100% - 1 * 148px) / 2);
  margin-right: 148px;
  margin-bottom: 60px;
}
убираем у крайних правых (последних)
.feature-list .item:nth-child(2n) {
  margin-right: 0;
}
убираем у нижних
.feature-list .item:nth-last-child(-n + 2) {
  margin-bottom: 0;
}

|================================================

2й вариант
|============================
задаем li(item) фиксированную ширину
|-------------------
.feature-list .item {
  width: 686px;
}
|-------------------
сначало задаем всем отступ с права
.feature-list .item {
  margin-right: 148px;
}
потом убираем у крайних правых (последних)
.feature-list .item:nth-child(2n) {
  margin-right: 0;
} 
|================================================

3й вариант
|============================
сразу задаем отступ за исключение крайних правых (последних)
|-------------------
.feature-list .item:not(:nth-child(2n)) {
  margin-right: 148px;
}

|================================================
|================================================
|||||||||||||||||||||||||||||||||||||||||||||||||
|================================================
|================================================

! УБИРАЕМ КРАЙНЮЮ ГЕОМЕТРИЮ СНИЗУ !

1й вариант
|============================
сначало задаем всем отступ с низу
|-------------------
.feature-list .item {
  margin-bottom: 60px;
}
потом убираем у нижних
|-------------------
.feature-list .item:nth-last-child(-n + 2) {
  margin-bottom: 0;
}
|================================================

2й вариант
|============================
сразу задаем отступ за исключение нижних
|-------------------
.feature-list .item:not(:nth-last-child(-n + 2)) {
  margin-bottom: 60px;
}
|================================================
*/

.feature-list .title,
.work-list .title {
  margin-bottom: 24px;
  color: var(--black-text-color);
}
.description {
  margin-bottom: 32px;
}
.feature .button.secondary {
  padding: 11px 22px;
}
.feature-list .link {
  color: var(--accent-text-color);
}
/* =============== Works section 3 ===============*/

.work-list > .item {
  display: flex;
  align-items: center;
  padding: 80px;
  /* padding-top: 80px; */
  /* padding-bottom: 80px; */
  background-color: var(--white-bg-color);
}
.work-list > .item:nth-child(2n) {
  flex-direction: row-reverse;
  background-color: var(--second-light-bg-cl);
}
.work-list > .item:nth-child(2n + 1) .work-content {
  margin-left: 84px;
}
.work-list > .item:nth-child(2n) .work-content {
  margin-right: 84px;
}

/** Репета
|============================
.work-list > .item {
  display: flex;
  align-items: center;
  padding-top: 80px;
  padding-bottom: 80px;
  background-color: var(--white-bg-color);
}
.work-list > .item:nth-child(2n) {
  flex-direction: row-reverse;
  background-color: var(--second-light-bg-cl);
}
.work-list > .item:nth-child(2n + 1) .work-content {
  margin-left: 84px;
}
.work-list > .item:nth-child(2n) .work-content {
  margin-right: 84px;
}
|============================
*/

/* =============== Testimonials section 4 =============== */

.testimonials .section-title {
  text-align: center;
  margin-bottom: 30px;
}
.testimonials .text {
  text-align: center;
  margin-bottom: 80px;
}
.clients-list {
  display: flex;
  flex-wrap: wrap;
  width: 944px;
  margin-right: auto;
  margin-left: auto;
}
.clients-list .clients-item {
  width: calc((100% - 3 * 84px) / 4);
  margin-right: 84px;
  margin-bottom: 64px;
}
.clients-list .clients-item:nth-child(4n) {
  margin-right: 0;
}
.clients-list .clients-item:nth-last-child(-n + 4) {
  margin-bottom: 0;
}
/* =============== Register section 5 =============== */

.wrapper-register {
  display: flex;
  align-items: center;
  gap: 52px;
  padding: 260px 80px;
}
/* Register-left-wrapper */
.register-left-wrapper {
  width: 686px;
}
.register-title {
  font-size: 56px;
  font-weight: 400;
  line-height: 1.43;
  letter-spacing: -0.84px;
}
/* Register-right-wrapper */
.register-right-wrapper {
  width: 622px;
  padding: 64px;

  border: 1px solid var(--shadow-50);
}
.register .title {
  display: block;
  color: var(--black-text-color);
  margin-bottom: 43px;
}

/* _______________ Форма регистрации Form-register _______________ */

.register-form-group {
  display: flex;
  align-items: center;
  gap: 20px;

  margin-bottom: 34px;
}
.register-form-filed {
  position: relative;
  display: block;
  width: 494px;
}
.register-form-input {
  display: block;
  width: 100%;
  height: 40px;

  padding: 8px 26px 8px 8px;
  margin-bottom: 34px;

  font-size: 15px;

  color: var(--primary-text-color);
  background-color: transparent;
  border: 1px solid var(--shadow-50);

  outline: transparent;

  transition: border-color var(--transit);
}
.register-form-group .register-form-input {
  width: 237px;
  margin-bottom: 0;
}

.register-form-input:focus,
.register-form-input:not(:placeholder-shown) {
  border-color: var(--accent-bg-color);
}
.register-form-input:not(:placeholder-shown):invalid:required {
  border-color: rgb(255, 0, 0);
}
.register-form-input:not(:placeholder-shown):valid:required {
  border-color: rgb(0, 164, 57);
}
.register-form-input::placeholder {
  transition: opacity var(--transit);
  opacity: 0;
}
.register-form-input:focus::placeholder {
  opacity: 1;
}
.register-form-lable {
  position: absolute;
  top: 8px;
  left: 8px;
  transform-origin: left center;

  font-size: 15px;
  font-weight: 400;
  line-height: 1.6;
  letter-spacing: -0.225px;

  color: var(--primary-text-color);

  transition: color var(--transit), transform var(--transit);
}
.register-form-input:focus + .register-form-lable,
.register-form-input:not(:placeholder-shown) + .register-form-lable {
  color: var(--accent-text-color);
  transform: translateY(-33px) scale(0.95);
}
.success-icon {
  opacity: 0;
  fill: rgb(0, 164, 57);
  transition: opacity var(--transit);
}
.info-icons {
  position: absolute;
  top: 12px;
  right: 8px;
}
.register-form-input:not(:placeholder-shown):valid:required
  ~ .info-icons
  > .success-icon {
  opacity: 1;
}
.warning-msg {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(20px);

  display: block;
  width: 120%;
  font-size: 12px;
  color: rgb(255, 0, 0);
  text-align: left;
  opacity: 0;

  transition: opacity var(--transit);
}
.register-form-input:not(:placeholder-shown):focus:invalid:required
  ~ .warning-msg {
  opacity: 1;
}
.warning-icon {
  opacity: 0;
  fill: rgb(255, 0, 0);

  transition: opacity var(--transit);
}
.register-form-input:not(:placeholder-shown):focus:invalid:required
  ~ .info-icons
  > .warning-icon {
  opacity: 1;
}

/* =============== Signup section 6 =============== */

.signup-section {
  background-color: var(--second-light-bg-cl);
}
.signup-section .container {
  display: flex;
  align-items: center;
}
.signup-section .section-title {
  display: none;
}
.signup-section .text {
  width: 943px;
  margin-right: 84px;
}
.signup-wrapper {
  display: flex;
  gap: 45px;
}
/* =============== Footer section =============== */

.footer .container {
  position: relative;
}
.footer-wrapper {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 80px;
  padding-bottom: 40px;
}
.footer-wrapper::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;

  display: block;
  width: 100%;

  border: 1px solid var(--black-bg-color);
}
.footer-nav {
  display: flex;
  gap: 20px;
}
.footer-item {
  width: 173px;
}
.footer-nav .link {
  display: block;
  font-weight: 700;
  line-height: 1.6;
  color: var(--black-text-color);

  transition: color var(--transit);
}
.footer-item.right > .link {
  text-align: right;
}
.footer-item:hover .link,
.footer-item:focus .link {
  color: var(--accent-text-color);
}
.footer-social-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 40px;
}
.social-link {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 44px;
  height: 44px;

  color: var(--white-text-color);
  background-color: var(--accent-bg-color);
  border-radius: 50%;
  border: 3px solid var(--accent-bg-color);

  transition: color var(--transit), background-color var(--transit),
    border-color var(--transit);
}
.social-icon {
  fill: currentColor;
}
.social-link:hover,
.social-link:focus {
  color: var(--accent-bg-color);
  background-color: var(--white-text-color);
  border-color: var(--accent-bg-color);
}
.footer-text {
  text-align: center;
  line-height: 1.6;
}
/*=============== Модальное окно Modal window Join Today ===============*/

.backdrop {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: var(--shadow-04);
  opacity: 1;
  transition: opacity var(--transit);
}
.backdrop.is-hidden {
  /* Это мы ставим, чтоб пока наше модальное окно backdrop закрыто, 
  через него можно было воздействовать (кликать) на другие объекты которые под ним. */
  opacity: 0;
  pointer-events: none;
  /* pointer-events: none; - Элемент не может быть целью (target) событий мыши; 
  тем не менее, целью событий мыши могут быть его потомки, если их pointer-events имеет какое-либо другое значение. В этом случае события мыши вызовут ожидаемое срабатывание обработчиков на этом родительском элементе на пути к/от потомк(у)/(а) во время фазы захвата/всплытия. */
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.2);
}
.modal {
  position: absolute;

  top: 50%;
  left: 50%;

  width: 408px;
  min-height: 584px;

  padding: 54px 24px 24px 24px;

  background-color: var(--white-bg-color);
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px var(--shadow-02), 0px 1px 3px 0px var(--shadow-12),
    0px 1px 1px 0px var(--shadow-14);

  transform: translate(-50%, -50%) scale(1);
  transition: transform var(--transit);
}

/* ---------- Кнопка закрытия модалки close-btn-modal ---------- */

.modal-btn-close {
  position: absolute;
  top: 20px;
  right: 20px;

  display: flex;
  align-items: center;
  justify-content: center;

  width: 24px;
  height: 24px;
  padding: 0;

  color: var(--accent-bg-color);
  background-color: var(--white-bg-color);
  border: 1px solid var(--accent-bg-color);
  border-radius: 5px;

  transition: color var(--transit), background-color var(--transit),
    border-color var(--transit);

  cursor: pointer; /* cursor: pointer; меняет вид курсора при активном состоянии элемента (::hover, ::focus) */
}
.modal-icon {
  fill: currentColor;
}
.modal-btn-close:hover,
.modal-btn-close:active .modal-icon {
  color: var(--white-bg-color);
  background-color: var(--accent-bg-color);
  border-color: transparent;
}

/* _______________ Форма модального окна Form-modal _______________ */

.modal-title {
  display: block;
  text-align: center;
  margin-bottom: 30px;

  font-size: 15px;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: -0.225px;

  color: var(--black-text-color);
}
.modal-form {
}
.modal-form-field {
  position: relative;

  display: flex;
  margin-bottom: 28px;
  color: var(--primary-text-color);
}
.modal-form-field:nth-child(3) {
  /* У последнего(3 го) поля изменяем нижний отступ. */
  margin-bottom: 46px;
}
/* ----- input ----- */
.modal-form-input {
  width: 100%;
  height: 40px;

  padding: 8px 16px 8px 30px;

  border: 1px solid var(--shadow-04);
  border-radius: 3px;
  outline: 1px solid transparent;

  transition: outline-color var(--transit-fast),
    border-color var(--transit-fast), box-shadow var(--transit-fast);
}
.modal-form-input:focus,
.modal-form-input:focus-visible {
  /* При фокусе бордер поля меняет цвет и добавляется тень */
  outline-color: var(--accent-bg-color);
  border-color: var(--accent-bg-color);
  box-shadow: 0px 4px 4px 0px rgba(41, 43, 77, 0.2);
}
.modal-form-input:focus + .modal-form-lable,
.modal-form-input:not(:placeholder-shown) + .modal-form-lable {
  /* При фокусе делаем смещение и уменьшение label, и меняем ему цвет.  */
  color: var(--accent-text-color);
  transform: translateY(-45px) translateX(-30px) scale(0.8);
}
/* ----- lable ----- */
.modal-form-lable {
  position: absolute;
  top: 50%;
  left: 30px;
  transform-origin: left center;
  /* transform-origin - (Точка трансформации) позволяет сместить точку трансформации, относительно которой происходит изменение положения, размера или формы элемента. */
  transform: translateY(-50%);

  color: var(--shadow-50);

  transition: color var(--transit), transform var(--transit);
}
/* ----- icon ----- */
.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 6px;
  fill: currentColor;

  transform: translateY(-50%);

  transition: fill var(--transit), transform var(--transit);
}
.modal-form-input:focus ~ .modal-form-icon {
  color: var(--accent-bg-color);
}
/* ----- placeholder(подсказка) ----- */
.modal-form-input::placeholder,
.modal-form-textarea::placeholder {
  /* Стилизируем placeholder(подсказку) задаем цвет и делаем её прозрачной пока label находится в поле. */
  opacity: 0;
  color: var(--shadow-15);
  transition: opacity var(--transit);
}
.modal-form-input:focus::placeholder,
.modal-form-textarea:focus::placeholder {
  /* Стилизируем placeholder(подсказку) делаем её непрозрачной когда label находится не в поле. */
  opacity: 1;
}
/* ---------- Поле коментария textarea ---------- */
.modal-form-massage {
  position: relative;
  display: flex;
  margin-bottom: 16px;
}
.modal-form-textarea {
  width: 100%;

  padding: 12px;
  resize: none;

  border: 1px solid var(--shadow-04);
  border-radius: 3px;
  outline: 1px solid transparent;

  transition: outline-color var(--transit-fast),
    border-color var(--transit-fast), box-shadow var(--transit-fast);
}
.modal-form-textarea:focus,
.modal-form-textarea:focus-visible {
  /* При фокусе бордер поля меняет цвет и добавляется тень */
  outline-color: var(--accent-bg-color);
  border-color: var(--accent-bg-color);
  box-shadow: 0px 4px 4px 0px rgba(41, 43, 77, 0.2);
}
.modal-comment-lable {
  position: absolute;
  top: 2px;
  left: 10px;
  transform-origin: left center;
  /* transform-origin - (Точка трансформации) позволяет сместить точку трансформации, относительно которой происходит изменение положения, размера или формы элемента. */

  color: var(--shadow-50);

  transition: color var(--transit), transform var(--transit);
}
.modal-form-textarea:focus + .modal-comment-lable,
.modal-form-textarea:not(:placeholder-shown) + .modal-comment-lable {
  /* При фокусе делаем смещение и уменьшение label, и меняем ему цвет.  */
  color: var(--accent-text-color);
  transform: translateY(-28px) translateX(-10px) scale(0.8);
}

/* ---------- Иконки валидности введенных данных ---------- */
.info-icons {
  position: absolute;
  bottom: 4px;
  right: 6px;
}
/* ----- */
.warning-icon {
  opacity: 0;
  fill: rgb(255, 187, 0);

  transition: opacity var(--transit);
}
.modal-form-input:not(:placeholder-shown):invalid:required
  ~ .info-icons
  > .warning-icon {
  opacity: 1;
}
/* ----- */
.success-icon {
  opacity: 0;
  fill: rgb(0, 164, 57);
  transition: opacity var(--transit);
}
.modal-form-input:not(:placeholder-shown):valid:required
  ~ .info-icons
  > .success-icon {
  opacity: 1;
}
/* ---------- Сообщение под полем (подсказка) при неправильнов вводе данных ---------- */
.warning-msg {
  position: absolute;
  bottom: 0;
  left: 0;
  transform: translateY(20px);

  display: block;
  width: 100%;
  font-size: 10px;
  color: rgb(255, 187, 0);
  text-align: center;
  opacity: 0;

  transition: opacity var(--transit);
}
.modal-form-input:not(:placeholder-shown):invalid:required ~ .warning-msg {
  opacity: 1;
}
/* ---------- Checkbox cоглашение и описание к нему ---------- */

/* ---------- Поле соглашения Checkbox ---------- */
.modal-form-agreement {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}
.modal-form-desc {
  font-size: 12px;
  user-select: none; /* user-select: none; запрет копирования текста */
}
.modal-form-checkbox {
  appearance: none; /* appearance: none; Прячем изночальный checkbox */
  position: absolute;
}
.icon-checkbox {
  display: inline-block;
  width: 15px;
  height: 15px;

  border: 2px solid black;
  border-radius: 3px;

  transition: transform var(--transit);
}
.modal-form-checkbox:checked + .icon-checkbox {
  background-color: var(--accent-bg-color);
  border: transparent; /* Рамку делаем прозрачной. */
  background-image: url('../../imag/svg/click.svg');
  background-size: contain; /* Гарантированно сохраняет пропорции изображения. */
  background-origin: border-box; /* Распространяется на border + padding + content. */
  transform: scale(1.3); /* Увеличиваем (зумируем) checkbox  */
}

/* ---------- Кнопка отправки формы button ---------- */
.modal-form-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
/* Делаем кнопку неактивной */
.modal-form-btn:disabled {
  filter: grayscale(1);
  background-color: transparent;
  color: inherit;

  border: 2px solid var(--shadow-02);

  cursor: not-allowed; /* cursor: not-allowed; курсор неактивный, подсказка пользователю*/
}
